[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = "变更密码" %]
[% PROCESS global/header.html.tmpl %]

<p>
如要变更你的密码，请输入新的密码两次：
</p>

<form method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="chgpw">
  <table>
    <tr>
      <th align="right">新的密码：</th>
      <td>
        <input type="password" name="password">
        (最少 [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] 个字)
      </td>
    </tr>

    <tr>
      <th align="right">再次输入新的密码：<th>
      <td>
        <input type="password" name="matchpassword">
      </td>
    </tr>

    <tr>
      <th align="right">&nbsp;</th>
      <td>
        <input type="submit" id="update" value="提交">
      </td>
    </tr>
  </table>
</form>

[% PROCESS global/footer.html.tmpl %]
