[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # watchedusers: string.
  #               Comma-separated list of email addresses this user watches.
  # watchers:     array.
  #               Array of users watching this user's account.
  # excludeself:  boolean.
  #               True if user is not receiving self-generated mail.
  # <rolename>:   Multiple hashes, one for each rolename (e.g. assignee; see
  #               below), keyed by reasonname (e.g. comments; again, see
  #               below). The value is a boolean - true if the user is
  #               receiving mail for that reason when in that role.
  #%]

[%# If the user's bugmail has been disabled by admins, show a warning. %]
[% IF user.email_disabled %]
  <div class="warningmessages">
    你的 [% terms.bug %] 变更状态通知信已被管理员停用。请联络
    [% Param('maintainer') %] 以启用 [% terms.bug %] 变更状态通知信。
  </div>
[% END %]

<p>
如果你不想要收到 [% terms.bug %] 变更状态通知信，你可以用以下设定来过滤部分或全部的通知信。
</p>

[% IF user.authorizer.can_change_email && Param('allowemailchange') %]
  <p>
    如果你想要变更 [% terms.Bugzilla %] 发送通知信的电子邮件
    <b>[% user.email FILTER html %]</b> ，点击上面的「账号信息」标签。
  </p>
[% END %]

<script type="text/javascript">
<!--
function SetCheckboxes(setting) {
  for (var count = 0; count < document.userprefsform.elements.length; count++) {
    var theinput = document.userprefsform.elements[count];
    if (theinput.type == "checkbox" && !theinput.disabled) {
      if (theinput.name.match("neg")) {
        theinput.checked = !setting;
      }
      else {
        theinput.checked = setting;
      }
    }
  }
}

document.write('<input type="button" value="全选" onclick="SetCheckboxes(true); return false;">\n');
document.write('<input type="button" value="全不选" onclick="SetCheckboxes(false); return false;">\n');
// -->
</script>

<hr>

<table>
  <tr>
    <td colspan="2">
      <b>整体设定选项：</b>
    </td>
  </tr>

  <tr>
    <td width="150"></td>
    <td>
      [% prefname = "email-$constants.REL_ANY-$constants.EVT_FLAG_REQUESTED" %]
      <input type="checkbox" name="[% prefname %]" id="[% prefname %]"
        value="1"
        [% " checked"
           IF user.mail_settings.${constants.REL_ANY}.${constants.EVT_FLAG_REQUESTED} %]>
      <label for="[% prefname %]">当有人要求我设定这一项旗标时，发送电子邮件给我</label>
      <br>
    </td>
  </tr>
  <tr>
    <td width="150"></td>
    <td>
      [% prefname = "email-$constants.REL_ANY-$constants.EVT_REQUESTED_FLAG" %]
      <input type="checkbox" name="[% prefname %]" id="[% prefname %]"
        value="1"
        [% " checked"
           IF user.mail_settings.${constants.REL_ANY}.${constants.EVT_REQUESTED_FLAG} %]>
      <label for="[% prefname %]">当有人应允我的要求，设定一项旗标，发送电子邮件给我</label>
      <br>
    </td>
  </tr>
[% IF user.is_global_watcher %]
  <tr>
    <td width="150"></td>
    <td>
      你在监控所有的 [% terms.bugs %] 。若要删除此设定，请联系 <a href="mailto:[% Param("maintainer") %]">[% Param("maintainer") %]</a> 。
    </td>
  </tr>
[% END %]
</table>

<hr>
<b>栏位及收件人个别设定选项：</b>
<br>
<br>

[% events = [
    { id = constants.EVT_ADDED_REMOVED,
      description = "被加入某个 $terms.bug ，或自某个 $terms.bug 中刪除" },
    { id = constants.EVT_BUG_CREATED,
      description = "建立一个新的 $terms.bug " },
    { id = constants.EVT_OPENED_CLOSED,
      description = " $terms.bug 已解决或再开启 (REOPENED)" },
    { id = constants.EVT_COMPONENT,
      description = "产品或子产品变更" },
    { id = constants.EVT_PROJ_MANAGEMENT,
      description = "优先程度、状态、等级，或是里程碑变更" },
    { id = constants.EVT_COMMENT,
      description = "新增留言" },
    { id = constants.EVT_ATTACHMENT,
      description = "新增附件" },
    { id = constants.EVT_ATTACHMENT_DATA,
      description = "部分附件内容变更" },
    { id = constants.EVT_KEYWORD,
      description = "关键字栏位变更" },
    { id = constants.EVT_CC,
      description = "抄送栏位变更" },
    { id = constants.EVT_DEPEND_BLOCK,
      description = "依赖关系变更" },
    { id = constants.EVT_OTHER,
      description = "其他变更" },
] %]

[% neg_events = [
    { id = constants.EVT_UNCONFIRMED,
      description = " $terms.bug 仍然处于未确认 (UNCONFIRMED)状态" },
    { id = constants.EVT_CHANGED_BY_ME,
      description = "我做的变更" },
] %]

[% relationships = [
    { id = constants.REL_ASSIGNEE,
      description = "负责人" },
    { id = constants.REL_REPORTER,
      description = "提交者" },
    { id = constants.REL_CC,
      description = "被加入抄送对象的人" },
] %]

[% IF Param('useqacontact') %]
  [% relationships.push({ id = constants.REL_QA,
                          description = "QA 联络人" }) %]
[% END %]


[%# This is up here so that the "relationships" hook can modify it. %]
[% no_added_removed = [constants.REL_REPORTER] %]

[% Hook.process('relationships') %]

[% num_columns = relationships.size %]

<table class="bz_emailprefs" border="1">
  <tr>
    <td colspan="[% num_columns FILTER html %]" align="center" width="50%">
      <b>当我和这个 [% terms.bug %] 的关系是</b>
    </td>
    <td rowspan="2" width="40%">
      <b>当…的时候，我想要收到信：</b>
    </td>
  </tr>

  <tr>
    [% FOREACH relationship = relationships %]
      <th align="center" width="9%">
        [% relationship.description FILTER html %]
      </th>
    [% END %]
  </tr>

  [% FOREACH event = events %]
    [% count = loop.count() %]
    <tr class="bz_row_[% count % 2 == 1 ? "odd" : "even" %]">
      [% FOREACH relationship = relationships %]
        <td align="center">
          <input type="checkbox"
            name="email-[% relationship.id %]-[% event.id %]"
            value="1"
            [%# The combinations do not always make sense; disable a couple %]
            [% IF event.id == constants.EVT_ADDED_REMOVED AND
                  no_added_removed.contains(relationship.id)
            %]
               disabled
            [% ELSIF user.mail_settings.${relationship.id}.${event.id} %]
               checked
            [% END %]>
        </td>
      [% END %]
      <td>
        [% event.description FILTER html %]
      </td>
    </tr>
  [% END %]

  <tr>
    <td colspan="[% num_columns FILTER html %]"
        align="center" width="50%">
      &nbsp;
    </td>
    <td width="40%">
      <b>但当…的时候，我不想要收到信（覆盖以上设定值）：</b>
    </td>
  </tr>

  [% FOREACH event = neg_events %]
    [% count = loop.count() %]
    <tr class="bz_row_[% count % 2 == 1 ? "odd" : "even" %]">
      [% FOREACH relationship = relationships %]
        <td align="center">
          <input type="checkbox"
            name="neg-email-[% relationship.id %]-[% event.id %]"
            value="1"
            [% " checked" IF NOT user.mail_settings.${relationship.id}.${event.id} %]>
        </td>
      [% END %]
      <td>
        [% event.description FILTER html %]
      </td>
    </tr>
  [% END %]

</table>

<hr>
<b>监控用户</b>

<p>
如果你监控一位用户，那么就会根据<u>你的</u>偏好设定以及<u>他和 [% terms.bug %] </u>的关系（例如：负责人）来决定是否收到电子邮件。
</p>

<p>
[% IF watchedusers.size %]
你正在监控以下用户：
  </p>
  <p>
    <select id="watched_by_you" name="watched_by_you" multiple="multiple" size="5">
        [% FOREACH w = watchedusers %]
           <option value="[% w FILTER html %]">[% w FILTER html %]</option>
        [% END %]
    </select> <br />
    <input type="checkbox" id="remove_watched_users" name="remove_watched_users">
    <label for="remove_watched_users">将选择的用户从监控清单中删除</label>
[% ELSE %]
你现在并未监控任何用户。
[% END %]
</p>

<p id="new_watched_by_you">将用户加入监控清单〔以半角逗号 (,) 分隔多个使用者〕：
  [% INCLUDE global/userselect.html.tmpl
     id => "new_watchedusers"
     name => "new_watchedusers"
     value => ""
     size => 60
     multiple => 5
  %]
</p>

<p id="watching_you">正在监控你的用户：<br>
  [% IF watchers.size %]
    [% FOREACH watcher = watchers %]
      [% watcher FILTER html %] <br>
    [% END %]
  [% ELSE %]
    <i>无</i>
  [% END %]
</p>

<hr>

<br>
