[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "管理员权限"
   desc = "设定账号权限"
%]

[% param_descs = {
  allowbugdeletion => "在编辑产品及模块的页面删除一项产品或模块时，<br>" _
                      "可以删除所有相关的 $terms.bugs 。",

  allowemailchange => "使用者可以通过偏好设定变更电子邮件地址。<br>" _
                      "注意：变更电子邮件地址需要发送邮件到原地址以及新地址做确认，<br>" _
                      "因此使用此选项将会使使用者无法输入无效的电子邮件。",

  allowuserdeletion => "可以删除使用者账号。<br>" _
                       "$terms.Bugzilla 会在执行删除时警告，以免发生误删。<br>" _
                       "因此当需要删除使用者账号时，须将此选项开启。" }
%]
