[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "附件"
   desc = "设定附件选项"
%]

[% param_descs = {
  allow_attachment_display =>
    "设定为「开」时，若使用者的浏览器支持附件的 MIME 类型时，将可直接从浏览器浏览附件。<br>" _
    "设定为「关」时，则不论使用者的浏览器是否支持該 MIME 类型，都必须下载附件后才能浏览。" _
    "<p>這是一個安全性限制的考量。如果直接支援自瀏覽器瀏覽附件時，可能會有惡意使用者上傳有害的附件。</p>" _
    "<p>若你将此参数设定为「开」，强烈建议你也设定 <tt>attachment_base</tt> 参数。",

  attachment_base =>
    "当 <tt>allow_attachment_display</tt> 参数设定为「开」时，可能会有有害的附件存取你的 cookies ，" _
    "或是使用你的账号攻击 $terms.Bugzilla 。" _
    "<p>如果你要避免前述状况而想增加附件的安全性，将此参数设定为不同于 <tt>urlbase</tt> " _
    "或 <tt>sslbase</tt> 参数的网址。也就是说，" _
    "设定一组不相同的域名，但通过 DNS 解析后仍可连到同一台安装 $terms.Bugzilla 的电脑。</p>" _
    "<p>要注意的是，如果你已经设定了" _
    " <a href=\"editparams.cgi?section=advanced#cookiedomain\"><tt>cookiedomain</tt> " _
    "这个参数时，你应该要把 <tt>attachment_base</tt> 设定为" _
    "<em>不</em>符合 <tt>cookiedomain</tt> 的域名。</p>" _
    "<p>当你浏览附件时，为了增强安全性，你可以在网址中插入 <tt>%bugid%</tt> ，" _
    "将会被系统自动替换为该附件所在的 $terms.bug 的编号中。这将会限制浏览附件的同时，" _
    "只能浏览其他同属于同一个 $terms.bug 的附件。记得，这些可能出现的域名" _
    "（例如 <tt>1234.your.domain.com</tt> ）都必须指向同一台安装 $terms.Bugzilla 的电脑。",

  allow_attachment_deletion => "设定为「开」时，管理者可以删除附件內容。",

  maxattachmentsize => "允许存储于数据库的附件附件大小的最大值 (KB) 。<br>"  _
                       "如果所附加的文件大小比指定的值大， $terms.Bugzilla 会看" _
                       "<a href=\"#maxlocalattachment\"><tt>maxlocalattachment</tt>" _
                       "的设定值，决定文件是否可以存储于本地服务器中。" _
                       "如果文件大小超过这两个设定值时，该附件会被拒绝。" _
                       "若将两个设定值均设定为 0 ，则不允许附加附件。",

  maxlocalattachment => "允许存储于本地服务器的附件文件大小的最大值 (MB) 。<br>" _
                        "如果设定的比" _
                        "<a href=\"#maxattachmentsize\"><tt>maxattachmentsize</tt> 还小，" _
                        "那么附件将永远不会被存储在本地文件系统中。" }
%]
