[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "使用者认证"
   desc = "设定使用者认证政策"
%]

[% param_descs = {
  auth_env_id => "外部认证系统所使用的环境变量，对每个使用者存储一个独一无二的认证码。" _
                 "如果不使用此方法，或没有此变量，请留白。",

  auth_env_email => "外部认证系统所使用的环境变量，用来存储每位使用者的电子邮件地址。" _
                    "这对环境认证来说是必须的字段。若你不打算使用此功能，请留白。",

  auth_env_realname => "外部认证系统所使用的环境变量，用来存储每位使用者的真实姓名。" _
                       "如果不是用此方法，或没有此变量，请留白。",

  user_info_class => "用来搜集使用者登录信息的机制。可复选。如果第一个无效，将会试第二个，类推。<br>
                      类型有：
                      <dl>
                        <dt>CGI</dt>
                        <dd>
                          使用 CGI 界面询问使用者名称及密码。
                        </dd>
                        <dt>Env</dt>
                        <dd>
                          预先认证的使用者的信息传输至系统环境变量中。
                        </dd>
                      </dl>",

  user_verify_class => "以 user_info_class 搜集到的认证信息来验证的机制。可复选。如果第一个无效，将会试第二个，类推。<br>
                        类型有：
                        <dl>
                          <dt>DB</dt>
                          <dd>
                            $terms.Bugzilla 内建的认证。这是最常选的选项。
                          </dd>
                          <dt>RADIUS</dt>
                          <dd>
                            使用 RADIUS 服务器进行 RADIUS 认证。请參考
                            $terms.Bugzilla 說明以瞭解更多資訊。使用此方法必須先設定<a
                            href=\"?section=radius\">額外的參數</a>。
                          </dd>
                          <dt>LDAP</dt>
                          <dd>
                            使用 LDAP 服务器进行 LDAP 认证。请參考
                            $terms.Bugzilla 说明以了解更多信息。使用此方法必须先设定<a
                            href=\"?section=ldap\">额外的参数</a>。
                          </dd>
                        </dl>",

  rememberlogin => "对 cookie 的管理
                    <ul>
                      <li>
                        开 (on) - cookie 将永远不会过期 (使用者只需在浏览器登录一次)。
                      </li>
                      <li>
                        关 (off) - cookie 只到使用者结束使用时有效 (使用者必须在每个新的浏览器窗口登录)。
                      </li>
                      <li>
                        预设开 (defaulton)／预设关 (defaultoff) -
                        选定如上所述的预设值，但使用者可自行选择是否让
                        $terms.Bugzilla 记住他的登录信息。
                      </li>
                    </ul>",

  requirelogin => "若设定此选项，则所有浏览系统任何页面均需要登录。不允许匿名使用者使用。",

  emailregexp =>
    "定义有效的电子邮件地址的正则表达式。" _
    "预设值为包括所有有效的电子邮件地址。" _
    "使用 <tt>.*</tt> 的话，将会接受所有遵守 " _
    "<a href=\"http://tools.ietf.org/html/rfc2822#section-3.4.1\">RFC 2822</a> " _
    "规范的电子邮件地址。" _
    "另一个常用的值是 <tt>^[^@]+$</tt> ，代表" _
    "「本地的使用者名称，不允许 @ 字元。」",

  emailregexpdesc => "以<u>英文</u>表示 <tt>emailregexp</tt> 参数所允许的电子邮件地址。",

  emailsuffix => "这是用来加在使用者账号后面，形成电子邮件地址的字串。" _
                 "如果你将 <tt>emailregexp</tt> 参数设定为仅允许本地的使用者名称，" _
                 "但希望将邮件发送到 username@my.local.hostname 时，这个参数将十分有用。",

  createemailregexp => "此处定义使用者自行使用「新增账号」功能所允许的电子邮件地址" _
                       "（不分大小写）的正则表达式。" _
                       "预设值 (.*) 允许建立任何符何 emailregexp 参数的账号。" _
                       "如果设为空白，将不允许使用者自行建立新账号；所有的账号都必须通过管理者设定。",

  password_complexity =>
    "设定密码所要求的复杂程度。不管复杂程度为何，密码都必须至少" _
    " ${constants.USER_PASSWORD_MIN_LENGTH} 字符。" _
    "<ul>" _
      "<li>no_constraints - " _
        "不要求复杂程度。</li>" _
      "<li>mixed_letters - " _
        "密码必须包含至少一个大写字母以及一个小写字母。</li>" _
      "<li>letters_numbers - " _
        "密码必须包含至少一个大写字母、一个小写字母以及一个数字。</li>" _
      "<li>letters_numbers_specialchars - " _
        "密码必须包含至少一个字母、一个数字以及一个特殊字符。</li>" _
    "</ul>"

  }
%]
