[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "群组安全性"
   desc = "设定群组安全性"
%]

[% param_descs = {
  makeproductgroups => "若设为开， $terms.Bugzilla 将会对数据库中的每项产品做出 $terms.bug 的群组关联，" _
                       "并用于查询 $terms.bugs 中。",

  chartgroup => "设定可以使用「新图表」功能的使用者群组名称。" _
                "在对不受信任的大众启用此功能前，管理者应该确认所有公开的分类及系列定义并不会泄露机密信息。" _
                "若设为空白，则不允许任何使用者使用该功能。",

  insidergroup => "设定可以看见并更改不公开的意见及附件的使用者群组名称。",

  timetrackinggroup => "设定可以看见并更改时间追踪信息的使用者群组名称。",

  querysharegroup => "设定可以分享已存储的搜索给他人的使用者群组名称。",

  debug_group => "在查看 $terms.bug 清单和报告时，可以看见实际产生的 SQL 內容的使用者群组名称。",

  usevisibilitygroups => "是否要限制特定群組的成員才能看見使用者？",

  strict_isolation => "当使用者被禁止编辑一项产品中的 $terms.bug 时，" _
                      "也不允许使用者被分配、被设为 QA 联络人、被加入邮件抄送清单、变更依賴关系" _
                      "或其他任何和 $terms.bug 有关的活动。",

 }
%]
