[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # token: string. The token to be used in the user account creation.
  # email: email address of the user account.
  # expiration_ts: expiration date of the token.
  #%]

[% title = BLOCK %]以 '[% email FILTER html %]' 创建新账号[% END %]
[% PROCESS "global/header.html.tmpl"
           title = title
           onload = "document.forms['confirm_account_form'].realname.focus();" %]

<p>
要创建你的账号，必须在下面的表单中输入密码。你的电子邮件地址及真实姓名（如果有提供的话）会和你所做的变动一并显示。
</p>

<form id="confirm_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="confirm_new_account">
  <table>
    <tr>
      <th align="right">电子邮件地址：</th>
      <td>[% email FILTER html %]</td>
    </tr>
    <tr>
      <th align="right"><small><i>（选填）</i></small> <label for="realname">真实姓名</label>：</th>
      <td><input type="text" id="realname" name="realname" value=""></td>
    </tr>
    <tr>
      <th align="right"><label for="passwd1">输入你的密码</label>：</th>
      <td>
        <input type="password" id="passwd1" name="passwd1" value="">
        (最少 [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] 个字)
      </td>
    </tr>
    <tr>
      <th align="right"><label for="passwd2">确认你的密码</label>：</th>
      <td><input type="password" id="passwd2" name="passwd2" value=""></td>
    </tr>
    <tr>
      <th align="right">&nbsp;</th>
      <td><input type="submit" id="confirm" value="创建"></td>
    </tr>
  </table>
</form>

<p>
如果在 <u>[% expiration_ts FILTER time("%Y-%m-%d %H:%M %Z") %]</u> 之前，未完成此表单的话，将不会创建此账号。
</p>

<p>
如果你不想要以此电子邮件创建账号的话，点击下面的「取消创建账号」按钮，你的所有信息将会被删除。
</p>

<form id="cancel_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="cancel_new_account">
  <input type="submit" id="confirm" value="取消创建账号">
</form>

[% PROCESS global/footer.html.tmpl %]
