[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE
  # none
  #
  # Param("maintainer") is used to display the maintainer's email.
  # Param("emailsuffix") is used to pre-fill the email field.
  #%]

[% title = BLOCK %]
  创建一个新的 [% terms.Bugzilla %] 账号
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           onload = "document.forms['account_creation_form'].login.focus();" %]

<p>
  要创建一个[% terms.Bugzilla %]账号，你只要输入：<br>
[% IF Param('emailsuffix') == '' %]
  一个有效的电子邮件地址。
[% ELSE %]
  一个账号名称。此一账号后面加上 [% Param('emailsuffix') %] 时可以对应到你的电子邮件地址。
[% END %]
  会发送一封用来创建账号的认证邮件到该电子邮件地址。
  <br><b>在你收到电子邮件之前，你将无法登录。</b>
  <br>如果没有在合理的时间范围内受到，你可以用电子邮件联络该 [% terms.Bugzilla %] 的管理员： <a
  href="mailto:[% Param("maintainer") %]">[% Param("maintainer") %]</a> 。
</p>

<p>
  当需要提交一个新的 [% terms.bug %] ，或者对现有的 [% terms.bug %] 留下意见时，需要一个账号。
  当后续需要更多信息资料时，可以联络上你。
  这也让其他使用者可以清楚了解是谁对 [%terms.bug %] 做了更改或留下留言。
  <b>注意：你的电子邮件地址将<u>不会</u>显示给访客。只有注册用户才能看见它。</b>
</p>

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
<p>
  <b>隐私权提醒：</b>
  <br>[% terms.Bugzilla %] 是一个开放的 [% terms.bug %] 追踪系统。
  <br>在大多数 [% terms.bugs %] 的活动，包括电子邮件地址，都是可被注册用户看到的。
  <br>我们<b>建议</b>使用次要额电子邮件，或者使用免费的网络电子邮件服务（例如 Gmail、Yahoo、Hotmail 等等），以避免你的主要电子邮箱收到垃圾邮件。
</p>
[% END %]

<form id="account_creation_form" method="get" action="createaccount.cgi">
  <table>
    <tr>
      <td align="right">
        <b>电子邮件：</b>
      </td>
      <td>
        <input size="35" id="login" name="login">
        [% Param('emailsuffix') FILTER html %]
      </td>
    </tr>
  </table>
  <br>
  <input type="hidden" id="token" name="token" value="[% issue_hash_token(['create_account']) FILTER html %]">
  <input type="submit" id="send" value="发送">
</form>

[% PROCESS global/footer.html.tmpl %]
